.image-w-content {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.icon {
  vertical-align: middle;
  fill: currentColor;
}

.image-w-content,
.icon {
  padding: 0px;
  display: flex;
  left: 50%;
  top: 50%;
  margin: -47px 0 0 -47px;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  background: white;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
}

.img-wrapper,
.image-w-content {
  -webkit-box-sizing: initial;
  box-sizing: initial;
}

.img-wrapper {
  -moz-transform: skew(-13deg, 0deg);
  -webkit-transform: skew(-13deg, 0deg);
  -o-transform: skew(-13deg, 0deg);
  -ms-transform: skew(-13deg, 0deg);
  transform: skew(-13deg, 0deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background: #211551;
  padding-left: 100px;
  margin-left: -100px;
}
